.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* Added width for better control */
}

input {
  width: 100%;
  margin: 10px 0; /* Adjusted margin for better spacing */
  padding: 12px; /* Increased padding for better input area */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

button {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
